$font-lighter: #424551;
$font-darker: #1e212c;
$background-1: linear-gradient(
  55.95deg,
  rgba(255, 63, 58, 0.2) 0%,
  rgba(247, 94, 5, 0.2) 100%
);
$button: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
$link: #ff3f3a;
$gray: #787a80;
$white-1: #ffffff;
$white-2: #f4f5f7;
