.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.main__cert {
  margin-bottom: -46px;
}

.main__team {
  padding: 160px 0px 180px;
}

.main__testimonials {
  padding-bottom: 195px;
}

.main__companies {
  padding-bottom: 177px;
}

.main__program {
  padding: 115px 0 185px;
}

.main__blog {
  padding-bottom: 200px;
}

.main__info {
  padding-bottom: 180px;
}

.main__questions {
  padding-bottom: 180px;
}
