@use "../components/mixins.scss" as mixin;
@use "../components/colors.scss" as color;

.button--fill {
  @include mixin.button(color.$white-1);
  background: color.$button;
}

.button--transparent {
  @include mixin.button(transparent);
  position: relative;
  background: color.$button;
  background-clip: text;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    background: color.$button border-box;
    mask: linear-gradient(color.$white-1 0 0) padding-box,
      linear-gradient(color.$white-1 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}
